* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/img/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrada {
  width: 500px;
  max-width: 90%;
  height: 550px; 
  max-height: 90vh;
  background: rgba(0, 0, 0, 0.841);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; border: 1px solid #9f824c;
}
.margen {
  width: 75%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 25px;
  margin-top: 5px; border-top: 1px solid #9f824c;
  margin-bottom: 5px; border-bottom: 1px solid #9f824c;
}

.logo {
  padding: 1px;
  width: 180px;
  height: auto;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.titulo {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #e2c992;
  letter-spacing: 1px;
  line-height: 1;
  position: relative;
  z-index: 2;
}

.linea {
  width: 35px;
  height: 2px;
  background-color: #9f824c;
  border-radius: 2px;
  margin: 4px 0;
  position: relative;
  z-index: 2;
}

.subtitulo {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #e2c992;
  letter-spacing: 4px;
  position: relative;
  z-index: 2;
}

.boton-dorado {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: url('/img/exp-btn.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 35px 100px;
  color: #e2c992;
  text-decoration: none;
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 1rem;
  letter-spacing: 3px;
  transition: transform 0.2s, filter 0.2s;
  position: relative;
  z-index: 2;
  margin-top: 15px;
}

.boton-dorado:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.boton-dorado:hover .flecha {
  transform: translateX(5px);
}